beautifulsoup4==4.8.0
Click==7.0
cssselect==1.1.0
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.11.3
lxml==4.4.1
MarkupSafe==1.1.0
nltk==3.4.5
numpy==1.17.2
pandas==0.25.1
pycryptodome==3.8.1
pyquery==1.2.10
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
soupsieve==1.9.3
sqlanydb==1.0.7
Werkzeug==0.15.3
